.banner-contact {
    background: $dark;
    padding-top: $padding-big;
    padding-bottom: $padding-big;
    color: $white;

    .banner__text {
        h2 {
            color: $white;
        }

        p {
            color: $white;
        }
    }

    .banner__link {
        a {
            color: $white;
            font-size: $font-size-big;
            transition: all 0.4s ease;

            i {
                color: $white;
            }

            &:hover {
                margin-left: $margin-base;
            }
        }
    }
}

@media (min-width: 48rem) {
    .banner-contact {
        padding-top: $padding-bigger;
        padding-bottom: $padding-bigger;
    
        &-flex {
            display: flex;
    
            .banner__text {
                width: 50%;
            }
    
            .banner__link {
                margin-left: $margin-big;

                a {
                    font-size: $font-size-biggest;
                            
                    i {
                        font-size: $font-size-biggest;
                    }
                }        
            }
        }
    }
}