.banner-contact {
    background: $grey;
    padding-top: $padding-large;
    padding-bottom: $padding-bigger;
    color: $white;
    text-align: center;

    .banner__text {
        h1 {
            color: $dark;
            margin-bottom: $margin-base;
        }

        p {
            color: $dark;
        }
    }

    .banner__link {
    }
}

@media (min-width: 48rem) {
    .banner-contact {
        padding-top: $padding-large;
        padding-bottom: $padding-large;
    
        &-flex {
            //display: flex;
        }
    }
}