.cards {
    li {
        display: flex;
        justify-content: center;
        margin-bottom: $margin-big;

        .card {
            &__text {
                h3 {
                    color: $dark;
                    opacity: 0.8;
                }
            }
    
            &__img {
                h4 {
                    color: $dark;
                }
    
                img {
                    width: 17rem;
                    height: 22rem;
                    object-fit: cover;
                    transition: 0.3s ease-in-out all;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}