footer {
    padding-bottom: 2rem ;
    color: $dark;
    text-align: center;
    border-top: 2px solid $royal-blue;

    a, p {
        color: $dark;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: $margin-base;
    }

    .logo-footer {
        svg {
            width: 10rem;
        }
    }

    .get-in-touch {
        margin-bottom: $margin-big;

        a:hover {
            color: $royal-blue;
        }
    }

    .socials-footer {
        a {
            display: inline-block;
            margin-bottom: $margin-base;
            transition: ease-in-out 0.3s all;

            i {
                margin-left: $margin-small;
                transform: rotate(-45deg);
            }

            &:hover {
                color: $royal-blue;
                margin-left: $margin-base;

                i {
                    transform: rotate(0);
                }
            }
        }
    }
}