footer {
    padding-bottom: 2rem ;
    color: $white;
    background-color: $dark;
    text-align: center;

    a, p {
        color: $white;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: $margin-base;
    }

    .logo-footer {
        svg {
            width: 10rem;
        }
    }

    .get-in-touch {
        margin-bottom: $margin-big;

        a:hover {
            color: $grey;
        }
    }

    .socials-footer {
        a {
            display: inline-block;
            margin-bottom: $margin-base;
            transition: ease-in-out 0.3s all;

            i {
                margin-left: $margin-small;
                transform: rotate(-45deg);
            }

            &:hover {
                color: $white;

                i {
                    transform: rotate(0);
                }
            }
        }
    }
}

@media (min-width: 48rem) {
    .footer {
        padding-top: $padding-bigger;
        padding-bottom: $padding-bigger;
        
        &__flex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .get-in-touch {
                margin-bottom: 0;
            }
        }
    }
}