footer {
    padding-bottom: 2rem ;
    color: $dark;
    text-align: center;
    border-top: 2px solid $royal-blue;

    a, p {
        color: $dark;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: $margin-base;
    }

    .logo-footer {
        svg {
            width: 10rem;
        }
    }

    .get-in-touch {
        span {
            display: block;
        }
    }
}