---
layout: layouts/base.njk
---

<div class="work">
    <section class="work__heading h-layout">
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
        <a class="primary-button" href="{{ website }}">
            <span>view application</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </section>

    <div class="work__img h-layout">
        <img src="../../static/images/{{ img2 }}" alt="banner">
    </div>

    <section class="work__challenge h-layout">
        <span class="work__challenge__title">Challenge</span>
        <p class="work__challenge__text">{{ challenge }}</p>
    </section>

    <div class="work__img h-layout">
        <img src="../../static/images/{{ img1 }}" alt="banner">
    </div>

    <div class="work__img h-layout">
        <img src="../../static/images/{{ img3 }}" alt="banner">
    </div>
</div>
