---
layout: layouts/base.njk
---

<div class="work">
    <section class="work__heading">
      <div class="h-layout--small">
          <h1 class="pagetitle">{{ title }}</h1>
          <h2>{{ short }}</h2>
          <a class="test-btn" href="{{ website }}" target="_blank">
              <span>Live site</span>
              <i class="fas fa-arrow-right"></i>
          </a>  
      </div>
    </section>

    <section class="work__intro h-layout--small">
        <div class="work__intro__challenge">
            <div>
                <span class="work__intro__title">Challenge</span>
                <p class="work__intro__text">{{ challenge }}</p>      
            </div>      
        </div>

        <div class="work__intro__info">
            <div>
                <span class="work__intro__title">Year</span>
                <p class="work__intro__text">{{ year }}</p>
            </div>

            <div>
                <span class="work__intro__title">Technologies</span>
                <p class="work__intro__text">{{ technologies }}</p>
            </div>

            <div>
                <span class="work__intro__title">Github repositorie</span>
                <a href="{{ gh }}" target="_blank">
                    <p class="work__intro__link">{{ gh }}</p>
                </a>
            </div>

        </div>
    </section>

    <div class="work__img h-layout">
        <img src="../../static/images/{{ img2 }}" alt="banner" loading="lazy">
    </div>

    <div class="work__img h-layout">
        <img src="../../static/images/{{ img1 }}" alt="banner" loading="lazy">
    </div>

    <div class="work__img h-layout">
        <img src="../../static/images/{{ img3 }}" alt="banner" loading="lazy">
    </div>

    <a href="/portfolio-timds-design/work" class="test-btn">
      <i class="fas fa-arrow-left"></i>
      <span>Back to overview</span>
    </a>

</div>

{% include "components/cta-banner.njk" %}

