---
layout: layouts/base.njk
---

<section class="h-layout">
    <div class="work__heading">
        <h1>{{ title }}</h1>
        <h4>{{ text }}</h4>
        <a href="{{ website }}"><span>view website</span></a>
    </div>
</section>

<section class="work__challenge h-layout--small">
    <span class="work__challenge__title">Challenge</span>
    <p class="work__challenge__text">{{ challenge }}</p>
</section>

<div class="work__img h-layout">
    <img src="../../static/images/{{ img2 }}" alt="banner">
</div>

<div class="work__img h-layout">
    <img src="../../static/images/{{ img1 }}" alt="banner">
</div>

<div class="work__img h-layout">
    <img src="../../static/images/{{ img3 }}" alt="banner">
</div>