---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
description: Welcome to the portfolio of designer & developer Tim De Saeger
---

<section class="h-layout">
    <h1>Welcome to my home... page</h1>
   <span>De Saeger Tim</span>
   <span>- Digital creative</span>
   <span>& developer</span>
</section>