---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
description: Welcome to the portfolio of designer & developer Tim De Saeger
---
<div class="bg-mesh"></div>

<section class="hero h-layout">
   <span class="name">De Saeger Tim</span>
   <span class="name">- Digital creative</span>
   <span class="name">& web developer</span>
   <p class="intro">I am an enthousiastic and talented graphic designer with a passion for web development.</p>
</section>

<div class="arrow bounce">
  <a class="fa fa-arrow-down" href="#work"></a>
</div>

<section class="work-on-home h-layout" id="work">
    <ul class="cards">
        {% for work in collections.works | highlighted %}
            {% include "components/work.njk" %}
        {% endfor %}
    </ul>

    <a href="work" class="primary-button">
        <span>Discover more work</span>

        <i class="fas fa-arrow-right"></i>
    </a>
</section>

{% include "components/cta-banner.njk" %}
