.aboutpage {
    &__flex {
        padding-top: $padding-base;
        padding-bottom: $padding-large;

        &-text {

            lottie-player {
                margin: 0 auto;
                width: 250px;
            }

            p {
                text-align: center;
                color: $dark;
                margin-top: -1rem;
                margin-bottom: 0rem;
            }

            a {
                font-size: $font-size-normal;
                margin-top: $margin-big;
            }

        }

        &-image {
            img {
                display: flex;
                justify-content: space-around;
                width: 80vw;
                margin: 0 auto;
                margin-top: $margin-bigger;
            }
        }
    }
}

@media (min-width: 48rem) {
    .aboutpage  {
        &__flex {
            display: flex;
            justify-content: space-around;
            align-items: center;

            &-text {
                width: 40%;
            }

            &-image {
                width: 40%;
            }
        }
    }
}