.contact {
    padding-top: $padding-large;
    padding-bottom: $padding-bigger;

    &__intro {
        p {
            color: $dark;
            width: 100%;
            margin-bottom: $margin-big;
        }
    }

    &__form {
        label {
            display: block;
            margin-top: $margin-base;
            font-weight: 400;
        }

        label, input, textarea {
            text-transform: uppercase;
        }

        input, textarea {
            width: 100%;
            padding: 0.25rem $padding-base;
            border: 1px solid $dark;
            border-radius: 5px;
            margin-top: $margin-small;
        }

        input[type="submit"] {
            color: $white;
            background-color: $royal-blue;
            border: none;
            padding: $padding-base $padding-bigger;
            margin-top: $margin-base;
            width: auto;
            transform: translateX(0);
            transition: all 0.4s ease;

            &:hover {
                transform: translateX(10%);
            }
        }
    }

    @media(min-width: 48rem) {
        .contact {
            &__intro {
                p {
                    width: 50%;
                }
            }

            &__form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                > div {
                    flex-basis: 48%;
                
                    &:nth-child(5) {
                        flex-basis: 100%;
                    }
                }
            }        
        }
    }
}