.work {
    &__heading {
        margin-top: -6rem;
        margin-bottom: $margin-big;

        height: 50vh;
        //background: $light-blue;    
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-top: 6rem;
            margin-bottom: $margin-base;
            text-align: left;
        }

        h2 {
          color: $dark;
          opacity: 0.35;
        }

        p {
            color: $dark;
            margin-top: 0;
        }

        .test-btn {
          margin-left: 0;
          width: 15rem;
        }

        /* .detail-wrapper {
          position: absolute;
          top: 0;
          height: 50vh;
          width: 100%;
          margin: 0 auto;
          //margin-top: $margin-bigger;
          transition: 0.3s ease-in-out all;
          overflow: hidden;
          z-index: -100;
          opacity: 25%;

          .detail-wrapper__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 1;
            position: relative;
            overflow: hidden;
            transition: transform 0.75s;
          }
        } */
    }

    &__intro {
      margin-top: $margin-bigger;
      margin-bottom: $margin-bigger;


        &__title {
            text-transform: uppercase;
            font-weight: 400;
            color: $dark;
            opacity: 0.5;
        }

        &__text {
            color: $dark;
            margin-top: $margin-small;
            margin-bottom: $margin-big;
        }

        &__link {
            transition: all 0.3s ease;
            color: $dark;
            
            &:hover {
                color: $royal-blue;
            }
        }
    }

    &__img {
      margin-bottom: $margin-bigger;
      width: 100vw;
    }
}

@media (min-width: 48rem) {
    .work{
        &__intro {
            display: flex;
            justify-content: space-between;

            &__challenge {
                width: 50%;
            }

            &__info {
                width: 35%;
            }
        }

        &__img {
          width: 70vw;
        }    
    }
}
