.hero {
    padding: $padding-large $padding-big;
    background: $royal-blue;

    span {
        display: block;
        margin-bottom: $margin-base;
    }

    .name {
        font-family: 'Syne', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: $white;

        &:nth-of-type(2) {
            text-align: right;
        }
    }
}

.work-on-home {
    padding-top: $padding-large;
    padding-bottom: $padding-large ;

    .card {
        display: flex;
        flex-direction: column;
        width: 15rem;
        margin: auto;

        h3 {
            color: $royal-blue;
        }

        img {
            width: 15rem;
            height: 20rem;    
            object-fit: cover;

            &:hover {
                scale: 1.5;
            }
        }
    }
}