/* Hero with my name */
.hero {
  background-image: url(../images/test-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 7% 75%;
  background-attachment: fixed;
  height: 130vh;
  margin-top: -5rem;

  .hero-content {
      padding: 6rem $padding-big;
      height: 100vh;
      width: 80vw;
  
      span {
          display: block;
          margin-bottom: $margin-base;
      }
  
      .name {
          font-family: 'Syne', sans-serif;
          font-size: 1.8rem;
          font-weight: 500;
          color: $royal-blue;
  
          &:nth-of-type(2) {
              text-align: right;
              color: $white;
          }
      }
  
      .intro {
          display: none;
          color: $white;
          margin-top: $margin-big;
      }
  
      .primary-button {
          display: none;
          text-align: left;
          span {
              display: inline-block;
          }
      }
  }
}

@media (min-width: 48rem) {
  .hero {
    height: 100vh;
    background-position: 0% 75%;

    .hero-content {
        width: 60vw;
        
        span {
        }
    
        .name {
            font-size: 3rem;
    
            &:nth-of-type(2) {
                text-align: right;
                color: $white;
            }
        }
    
        .intro {
          color: $white;
          margin-top: $margin-big;
          font-size: $font-size-big;
        }
    }
  }
}

@media (min-width: 60rem) {
  .hero {
    height: 100vh;
    background-position: 0% 75%;

    .hero-content {
      width: 50%;
      padding-top: 10rem;
      margin-left: 40%;
          
      .name {
          font-size: 4rem;
  
          &:nth-of-type(2) {
              text-align: right;
              color: $white;
          }
      }
  
      .intro {
        display: block;
        color: $white;
        margin-top: $margin-big;
        font-size: $font-size-big;
      }

      .primary-button {
        display: block;
      }
    }
  }
}

@media (min-width: 110rem) {
  .hero {
    .hero-content {
      padding-top: 15rem;
    }
  }
}

/* Work section */
.work-on-home {
  padding-top: $padding-big;
  padding-bottom: $padding-big;
}

/* Bounce arrow */
.arrow {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 0;

  @media (min-width: 48rem) {
  left: 40%;
 }
}

/* Intro text */
.intro-about {
  margin-top: $margin-large;
  margin-bottom: $margin-base;

  p {
    font-size: $font-size-bigger;
    line-height: 1.5;
    color: $dark;
    width: 80%;
  }

  .primary-button {
    text-align: left;
  }

  @media (min-width: 48rem) {  
    p {
      width: 70%;
    }
  }
}