.workpage-2 {
    position: relative;

    .cards {
        margin-top: $margin-large;

        li {
            width: 100%;
        }
    }
} 

@media (min-width: 48rem) {
    .workpage-2 {    
        .cards {    
            li {
                width: 50%;
            }
        }
    } 
}