.workpage {
  //background-color: $background;

  .page-title {
      font-size: 5rem;
      width: 100%;
      text-align: center;
      padding-top: $margin-bigger;
      //margin-bottom: $margin-base;
    }
} 


