.workpage-2 {
    position: relative;

    .cards {
      margin-top: $margin-large*2;

      li {
          width: 100%;

          &:nth-last-of-type(even) {
            margin-top: 5rem;
          }

          &:nth-last-of-type(odd) {
            margin-top: -10rem;
          }
      }
    }
} 

@media (min-width: 48rem) {
    .workpage-2 {    
        .cards {    
            li {
                width: 50%;
            }
        }
    } 
}