---
layout: layouts/base.njk
title: Contact
tags: false
eleventyNavigation:
  key: Start a project
  order: 4
---

<section class="contactpage h-layout">
    <h1>Bel me, schrijf me, laat me vlug iets weten!</h1>
</section>