---
layout: layouts/base.njk
title: About
tags: false
eleventyNavigation:
  key: About
  order: 3
---

<section class="aboutpage h-layout">
    <div class="aboutpage__flex">
        <div class="aboutpage__flex-text">
            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_eusamc.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
            <p>Hello there! I am Tim, a graduated student graphic design. After my bachelor I wanted to develop my programming skills so I followed a graduate degree programming.  
            You can download my cv below.</p>
            <a href="https://drive.google.com/file/d/1uc6VLBdr0ZCzWXwawmz1edoDfXsU3OkK/view?usp=sharing" target="_blank" class="primary-button">
                <span>Download cv</span>                
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="https://desaegertim.myportfolio.com" target="_blank" class="primary-button">
              <span>View my design portfolio</span>                
              <i class="fas fa-arrow-right"></i>
            </a>
        </div>

        <div class="aboutpage__flex-image">
            <img class="h-layout" src="../static/images/tim.jpeg" />     
        </div>
    </div>
</section>

{% include "components/cta-banner.njk" %}
