<section class="banner-contact">
    <div class="banner-contact-flex h-layout">
        <div class="banner__name">
            <h2>Let’s talk</h2>
        </div>
        
        <div class="banner__description">
            <p>I am always open for a chat, so get in touch to find out how I can help</p>
            <a href="contact" class="primary-button">
                Get in touch
            
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>