<section class="banner-contact">
    <div class="banner-contact-flex h-layout">
        <div class="banner__text">
            <h2>Let’s talk</h2>
            <p>I am always open for a chat, <br>  so get in touch to find out how I can help.</p>
        </div>
        
        <div class="banner__link">
            <a href="portfolio-timds-design/contact" class="primary-button">
                <span>Get in touch</span>
            
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
