<footer class="footer">
    <div class="h-layout">
        <section class="logo-footer">
            <img src="./static/images/logo-web-09.jpg">
        </section>

        <section class="get-in-touch">
            <p>Kerkhofstraat 71 <br> 9406 Ninove <br>
            <a href="mailto:timdesaeger@hotmail.be">timdesaeger@hotmail.be</a>
            <br> 0472 85 75 98
            </p>
        </section>

        <section>
            <ul>
                <li>
                    <a href="https://www.instagram.com/timds_dsign/?hl=nl" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tim-de-saeger-172aa81b4" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tim.desaeger.3/" target="_blank">Facebook</a>
                </li>
            </ul>
        </section>
    </div>
</footer>