<footer class="footer">
    <div class="h-layout">    
        <section class="get-in-touch">
            <h3>Get in touch</h3>
            <a href="mailto:timdesaeger@hotmail.be">timdesaeger@hotmail.be</a>
            <span>Tim De Saeger</span>
            <span>0472 85 75 98</span>
        </section>

        <section>
            <h3>Visit me</h3>
            <span>Kerkhofstraat 71 <br> 9406 Ninove</span>
        </section>

        <section>
            <h3>Follow me</h3>
            <ul>
                <li>
                    <a href="https://www.instagram.com/timds_dsign/?hl=nl" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tim-de-saeger-172aa81b4" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tim.desaeger.3/" target="_blank">Facebook</a>
                </li>
            </ul>
        </section>
    </div>
</footer>