<header class="header">
    <div class="menu">
        <nav class="h-layout">
            <div class="logo">
                <a href="{{ '/' | url }}" title="Back to the homepage of the {{ site.subdomain }}">
                    <img src="../../static/images/logo-web-09.jpg">
                </a>
            </div>
        
            {% include "components/navigation.njk" %}

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <ul class="socials-nav">
                <li class="socials-nav-item">
                    <a href="https://www.instagram.com/timds_dsign/?hl=nl" target="_blank">Instagram</a>
                </li>
                <li class="socials-nav-item">
                    <a href="https://www.linkedin.com/in/tim-de-saeger-172aa81b4" target="_blank">LinkedIn</a>
                </li>
                <li class="socials-nav-item">
                    <a href="https://www.facebook.com/tim.desaeger.3/" target="_blank">Facebook</a>
                </li>
            </ul>
        </nav>
    </div>
</header>