<li>
    <a class="card fade-in-up" href="/portfolio-timds-design{{ work.url }}">
        <i class="fas fa-arrow-right"></i>

        <div class="card__img">
            <img src="./static/images/{{ work.data.thumb }}" alt="thumbnail" loading="lazy">
        </div>
        
        <div class="card__text">
            <h2>{{ work.data.title }}</h2>
            <h3>{{ work.data.type }}</h3>
        </div>
    </a>
</li>

