/**
 * Basic typography style for copy text
 */
 html {
    scroll-behavior: smooth;
 }
 
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $dark;
}

h1 {
    font-family: 'Syne', sans-serif;
    font-style: normal;
    font-size: $font-size-huge;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: $margin-bigger;
    color: $royal-blue;
}

h2 {
    font-family: 'Syne', sans-serif;
    font-size: $font-size-bigger;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0.1rem;
    color: $royal-blue;
}
  
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-big;
    line-height: 1.5;
    font-weight: 400;
    margin: 0.5rem 0;
    color: $white;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: $font-size-normal;
    line-height: 1.65rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: $royal-blue;
}