---
title: Arne Quinze clone
year: 2021
technologies: "Javascript"
type: "Logo Design | Development"
short: "A responsive clone of the website of Arne Quinze"
thumb: "aq-1.png"
banner: "aq-2.png"
challenge: "Make a perfect clone of the website of Arne Quinze. I also made a new logo for Arne."
img1: "aq-1.png"
img2: "aq-2.png"
img3: "aq-3.png"
highlighted: false
website: "https://pgmgent-2021-atwork1.github.io/atwork-1_project_3-pgm-timdesae/"
gh: "https://github.com/pgm-timdesae/arne-quinze"
---