---
title: Nextgen auction
year: 2021
technologies: "Php | MySQL | Scss"
type: "Design | Development"
short: "An online auction"
thumb: "auction-1.png"
banner: "auction-home.png"
challenge: "I designed and developed an online horse auction using php and mySql. 
There is a front and backoffice. You can add and delete horses. 
If you want to make a bid, you can! You just have to register."
img1: "auction-1.png"
img2: "auction-3.png"
img3: "auction-2.png"
highlighted: true
website: ""
gh: ""
---