---
title: B-store webshop
year: 2021
technologies: "Eleventy | JS | Node.js | Express | Passport | SQLiteSQL | Sass | Swagger | Postman"
type: "Design | Development"
short: "The modern bike webshop"
thumb: "b-store-banner.png"
banner: "b-store-banner.png"
challenge: "Design and develop a responsive webshop where you sell products from more than 10 different categories.
Make a working back-end with users, profiles, products, orders, ... and seed users into your database.
Make this look as good as you can using the sass 7 to 1 structure."
img1: "b-store2.png"
img2: "b-store-banner.png"
img3: "b-store3.png"
highlighted: true
website: "https://pgmgent-2021-uip.github.io/exercises-pgm-timdesae/"
xd: ""
---