---
title: B-store webshop
number: 02
type: "design and development"
text: "The app that kids come outside and start walking."
thumb: "b-store.png"
banner: "b-store.png"
challenge: "The challenge was to make an application about hiking."
img1: "b-store.png"
img2: "b-store.png"
img3: "b-store.png"
highlighted: true
---