---
title: B-store webshop
number: 02
type: "design and development"
text: "The modern bike webshop"
thumb: "b-store-banner.png"
banner: "b-store-banner.png"
challenge: "It was a big challenge to make a webshop with more than 100 products in 10 categories"
technologies: "MySQL - 11ty - Sass - Sequelize"
img1: "b-store2.png"
img2: "b-store3.png"
img3: "b-store4.png"
highlighted: true
website: "https://pgmgent-2021-uip.github.io/exercises-pgm-timdesae/"
---