---
title: Design Agency
year: 2021
technologies: "Eleventy | Sass "
type: "Design | Development"
short: "Make a static site in only 2 days"
thumb: "ds-1.png"
banner: "ds-1.png"
challenge: "The big challenge was to make a website with a static site generator. I was inspired by the website of design studio and used their cases in my sprint assignment."
img1: "ds-1.png"
img2: "ds-2.png"
img3: "ds-3.png"
highlighted: false
website: "https://the8gency.github.io/digital-agency-design-studio/"
gh: "https://github.com/pgm-timdesae/design-agency"
---