---
title: Design Agency
year: 2021
technologies: "Eleventy | Sass "
type: "Design | Development"
short: "Make a static site in only 2 days"
thumb: "b-store-banner.png"
banner: "b-store-banner.png"
challenge: "The big challenge was to make a website with a static site generator. I was inspired by the website of design studio and used their cases in my sprint assignment."
img1: "b-store2.png"
img2: "b-store-banner.png"
img3: "b-store3.png"
highlighted: true
website: "https://the8gency.github.io/digital-agency-design-studio/"
xd: ""
---