---
title: Farmers Without Borders
year: 2022
technologies: "NestJS | Styled components | GraphQl | Apollo | TypeORM | Formik | Typescript"
type: "Design | Development"
short: "Online selling point where farmers can sell there products to customers in the city."
thumb: "fwb-home.png"
banner: "fwb-home.png"
challenge: "TOur goal is to connect small local farmers and producers to urban communities by 
providing a fresh and local alternative to big chain grocery outlets. 
We have a wide selection of local produce that is delivered right to your doorstep. 
There’s no longer a barrier to good and healthy food. We believe that organic and local produce is for everyone. 
You deserve to eat better. This assignment was in association with students from Seneca College based in
Toronto, Canada."
img1: "fwb-1.png"
img2: "fwb-3.png"
img3: "fwb-2.png"
highlighted: false
website: ""
gh: ""
---