---
title: Farmers Without Borders
year: 2022
technologies: "React | Styled components | NestJS | GraphQl | Apollo | TypeORM | Formik"
type: "Design | Development"
short: "Online selling point where farmers can sell there products to customers in the city."
thumb: "b-store-banner.png"
banner: "b-store-banner.png"
challenge: "This was a relly big case. On this platform you can lean and reserve books, media and transport. 
But their is much more than you guys can see. The admin can select reservations, filter them or delete them. 
They even can make some fixed reservations if needed."
img1: "b-store2.png"
img2: "b-store-banner.png"
img3: "b-store3.png"
highlighted: true
website: "https://github.com/pgmgent-pgm-4/webshop-the-boys"
gh: "https://github.com/pgm-timdesae/bike-webshop"
---