---
title: Gentse feesten clone
year: 2021
technologies: "Javascript"
type: "Development"
short: "A responsive clone of the website of the Gentse Feesten"
thumb: "gf-1.png"
banner: "gf-2.png"
challenge: "Make a perfect clone of the beautiful website of The Gentse Feesten."
img1: "gf-1.png"
img2: "gf-2.png"
img3: "gf-2.png"
highlighted: false
website: "https://pgmgent-2021-atwork1.github.io/atwork-1_project_2-pgm-timdesae/"
xd: ""
---