---
title: HiKing app
year: 2021
technologies: Adobe XD | Eleventy | Nunjucks
type: "Mobile Design | Development"
short: "Let kids explore the fun side of walking."
thumb: "hiking-1.jpg"
banner: "hiking-2.jpg"
challenge: "Make a mobile app prototype about a hiking using Adobe XD. From sketch to visual design.
Make a small website (not responsive) where you promote your hiking app using a static site generator. In this case I used Eleventy."
img1: "hiking-1.jpg"
img2: "hiking-2.jpg"
img3: "hiking-3.png"
img4: "hiking-4.png"
highlighted: true
website: "https://pgmgent-2021-uip.github.io/exercises-pgm-timdesae/"
xd: "https://xd.adobe.com/view/3af2bd1e-3ccc-459f-a00a-33d175689deb-6fa1/"
---