---
title: HiKing app
number: 0
type: "design and development"
text: "The app that kids come outside and start walking."
thumb: "hiking-1.jpg"
banner: "hiking-1.jpg"
challenge: "The challenge was to make an application about hiking."
img1: "hiking-1.jpg"
img2: "hiking-2.jpg"
img3: "hiking-3.jpg"
highlighted: true
---