---
layout: layouts/base.njk
title: Work
tags: false
eleventyNavigation:
  key: Work
  order: 2
---

<div class="workpage">
  <h1 class="pagetitle h-layout">Portfolio</h1>

  <section class="work h-layout">
    {% for work in collections.works %}
      <article class="case">
        <img class="case__thumbnail" src="../static/images/{{ work.data.thumb }}" alt="thumbnail">
        <div class="case__backdrop"></div>
        <div class="case__content">
          <h2>{{ work.data.title }}</h2>
          <h3>{{ work.data.type }}</h3>
          <a href="/portfolio-timds-design{{ work.url }}" class="case-btn">
            <span>Discover this case</span>
          </a>
        </div>
      </article>
    {% endfor %}
  </section>

  {% include "components/cta-banner.njk" %}
</div>
