---
layout: layouts/base.njk
title: Work
tags: false
eleventyNavigation:
  key: Work
  order: 2
---

<section class="workpage-2 h-layout">
    <h1>My work</h1>

    <ul class="cards">
        {% for work in collections.works %}
            <li>
                <a class="card" href="/portfolio-timds-design{{ work.url }}">
                    <div class="card__img">
                        <img src="../static/images/{{ work.data.thumb }}" alt="thumbnail">
                    </div>
                    
                    <div class="card__text">
                        <h2>{{ work.data.title }}</h2>
                        <h3>{{ work.data.type }}</h3>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
