---
title: Kbtb
number: 04
type: "design and development"
text: "The app that kids come outside and start walking."
thumb: "hiking-1.jpeg"
banner: "hiking-1.jpeg"
challenge: "The challenge was to make an application about hiking."
img1: "hiking-1.jpeg"
img2: "hiking-2.jpeg"
img3: "hiking-3.jpeg"
highlighted: false
---