---
title: Lrv Kerksken vzw
year: 2022
technologies: "Laravel | Mysql |  Blade | Scss | Digital Ocean"
type: "Design | Development"
short: "Online platform for making appointmants, combined with a chatbot"
thumb: "kerksken-2.png"
banner: "kerksken-1.png"
challenge: "For Lrv Kerksken I made a solution to their repeating problem of making 
reservations for events and finding important information. I made a modern platform where 
users can share new documents, events and make appointments. You wanne go fast? No problem! 
You can easily use the chatbot for a quick reservation."
img1: "kerksken-1.png"
img2: "kerksken-2.png"
img3: "kerksken-1.png"
highlighted: true
website: "http://188.166.68.81/"
gh: "https://github.com/pgm-timdesae/lrvKerkskenPlatform"
---