---
title: Data mashup
number: 05
type: "design and development"
text: "Mashup with all data"
thumb: "mashup.png"
banner: "mashup.png"
challenge: "The challenge was to make an application about hiking."
img1: "mashup.png"
img2: "mashup.png"
img3: "mashup.png"
site: "https://pgmpgent-2021-pgm-2.github.io/pgm-2_project_1-pgm-timdesae/"
highlighted: true
---