---
title: Data mashup
year: 2020
technologies: "Javascript"
type: "Design | Development"
short: "Ready to mash up some data?"
thumb: "mashup.png"
banner: "mashup.png"
challenge: "Make an interactive web page (not responsive) with selfmade data and data from online API's like weather api or github api. Make sure you can search for a user on github and show his friends and repositories."
img1: "mashup.png"
img2: "mashup-2.png"
img3: "mashup-3.png"
highlighted: true
website: "https://pgmpgent-2021-pgm-2.github.io/pgm-2_project_1-pgm-timdesae/"
gh: "https://github.com/pgm-timdesae/data-mashup"
---