---
title: Movie application
number: 03
type: "design and development"
text: "Up to date movie application."
thumb: "movie-banner.png"
banner: "movie-banner.png"
challenge: "The challenge was to make a movie application with React front-end framework."
img1: "hiking-1.jpeg"
img2: "hiking-2.jpeg"
img3: "hiking-3.jpeg"
highlighted: true
---