---
title: Movie application
year: 2021
technologies: "React| React Router DOM | Styled components | Google Firebase"
type: "Design | Development"
short: "My own movie application with React."
thumb: "movie-banner.png"
banner: "movie-banner.png"
challenge: "Make a movie application where you offer movies from different categories. Make sure a user can log in and log out. 
Make a page where you can find your favorite movie by search. Give the user a cinema feeling by adding a theme toggle. Deploy your application with Firebase."
img1: "movie-banner.png"
img2: "movie-2.png"
img3: "movie-1.png"
highlighted: true
website: "https://react-movie-application-f1bc0.web.app/"
gh: "https://github.com/pgm-timdesae/react-movie-app"
---