---
title: Zonnestraal vzw
year: 2022
technologies: "NestJS | Styled components | GraphQl | Apollo | TypeORM | Formik | NextJs"
type: "Design | Development"
short: "Online platform for renting books, cars and much more"
thumb: "zon-2.png"
banner: "zon-1.png"
challenge: "The challenge was to make an online platform where you can lend books and other media like cameras.
Vzw zonnestraal has different cars you can lend. On the platform you can make a reservation by selecting your car, 
book or media and selecting the rigth time and date. The admin can delete your reservation if necessary. 
They even can make a fixed reservation that returns every week or month."
img1: "zon-1.png"
img2: "zon-3.png"
img3: "zon-2.png"
highlighted: false
website: ""
gh: ""
---