/* Primary btn */
.primary-button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: $margin-bigger;

    span {
        font-size: $font-size-big;
        color: $dark;
        transition: all 0.4s ease;
        margin-top: $margin-base;
    }

    i {
        color: $dark;
        margin-left: $margin-base;
        font-size: $font-size-big;
        transform: rotate(-45deg);
    }
}

.secondary-button {
  display: block;
  text-align: center;
  border: 1px solid $dark;
  border-radius: $border-radius-large;
  padding: $padding-base;
  transition: all 0.4s ease;

  span {
    font-size: $font-size-normal;
    color: $dark;
    transition: all 0.4s ease;
    margin-top: $margin-base;
  }
  
  &:hover {
    background-color: $royal-blue;
  }
}

.case-btn {
  display: block;
  text-align: center;
  background-color: $royal-blue;  
  border-radius: $border-radius-large;
  padding: $padding-base;
  transition: all 0.4s ease;
  width: 15rem;

  span {
    font-size: $font-size-normal;
    color: $white;
    transition: all 0.4s ease;
    margin-top: $margin-base;
  }
}

.test-btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $royal-blue;
  outline: 2px solid $royal-blue;
  padding: $padding-base $padding-base*2;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  transition: color 1s;

  &:hover {
    color: $white;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $royal-blue;
    border-radius: 100px;
    //transform: skewX(35deg);
    z-index: -2;
    transition: width 1s;
  }

  &:hover::before {
      width: 100%;
    }
}

.primary-button:hover,
.primary-button:focus {
    span {
        color: $royal-blue;
        margin-left: $margin-base;
    }

    i {
        color: $royal-blue;
        transform: rotate(0deg);
    }
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: $royal-blue;
  border: 1px solid $royal-blue;

  span {
      color: $white;
  }
}

.btn {
    &-to-top {        
        position: absolute;
        top: -1.5rem;
        right: 1rem;

        padding: 1.5rem;
        background: $royal-blue;
        transition: all 0.3s ease-in-out;
        border-radius: 15px;

        i {
            color: $white;
            font-size: 1.2rem;
        }

        &:hover {
            background: rgba($color: $royal-blue, $alpha: 0.8);
            margin-bottom: $margin-base;
        }
    } 
}

@media(min-width: 85rem) {
    .btn {
      &-to-top {
          top: -4.9rem;
          display: block;
      }
    }
}