/* Primary btn */
.primary-button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: $margin-bigger;

    span {
        font-size: $font-size-big;
        color: $dark;
        transition: all 0.4s ease;
        margin-top: $margin-base;
    }

    i {
        color: $dark;
        margin-left: $margin-base;
        font-size: $font-size-big;
        transform: rotate(-45deg);
    }
}

.primary-button:hover,
.primary-button:focus {
    span {
        color: $royal-blue;
        margin-left: $margin-base;
    }

    i {
        color: $royal-blue;
        transform: rotate(0deg);
    }
}

.btn {
    &-to-top {        
        position: fixed;
        right: 0rem;
        bottom: 1rem;

        padding: 1rem 1rem;
        background: $royal-blue;

        i {
            color: $white;
        }
    }
}

@media(min-width: 85rem) {
    .btn {
        &-to-top {
            display: block;
        }
    }
}