.menu {
    nav {
        position: relative;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;
        z-index: 100;

        .logo {
            padding-top: 1rem;
            padding-left: 1rem;

            svg {
                height: 8vh;
            }
        }

        .nav__list {
            display: none;
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            transform: translateY(-100%);
            transition: transform 0.5s ease-in;
            margin: 0;
            padding: $padding-bigger;
            background-color: $royal-blue;

            &-item {
                display: none;
                margin-bottom: $margin-big;

                a {
                    color: $dark;
                }
            }
        }

        .socials-nav {
            position: absolute;
            width: 100vw;
            top: 70vh;
            padding: $padding-bigger;
            transform: translateY(-100%);
            transition: transform 0.5s ease-in;
            margin: 0;
            
            &-item{
                display: none;
                margin-bottom: $margin-base;
            }
        }

        .open {
            transform: translateY(0);
            padding-top: $padding-large;

            .nav__list {
                display: block;
                background-color: $royal-blue;

                &-item {
                    display: block;

                    a {
                        color: $white;
                        font-size: $font-size-bigger;
                        font-weight: 500;
                        opacity: 1;
                        transition: 0.3s all ease-in;

                        &:hover {
                            opacity: 0.6;
                        }
                    } 
                }
            }

            .socials-nav-item {
                display: block;

                a {
                    color: $white;
                    font-size: $font-size-normal;
                    font-weight: 400;
                    opacity: 0.6;
                    transition: 0.3s all ease-in;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .burger {
            display: block;
            cursor: pointer;
            padding-top: 1rem;
            padding-right: 1rem;

            > div {
                width: 25px;
                height: 3px;
                background-color: $dark;
                margin: 5px;
                transition: all 0.3s ease;
            }
        }

        .burger.toggle {
            > div {
                background-color: $white;
            }
        }
    }
}

@media (min-width: 48rem) {
    .menu {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 8vh;
    
            .logo {
                text-transform: uppercase;
                letter-spacing: 3px;
            }
    
            .nav__list {
                position: relative;
                width: 60%;
                top: 0;
                height: 8vh;
                justify-content: space-around;
                display: flex;
                flex-direction: row;
                align-items: center;
                transform: translateX(0);
                background-color: $white;
    
                &-item {
                    display: block;
                    transform: translateX(0);

                    a {
                        color: $royal-blue;
                        font-size: $font-size-big;
                        font-weight: 400;
                        transition: 0.3s all ease-in;

                        &:hover {
                        }
                    } 
                }
            }
    
            .burger {
                display: none;
            }
        }
    }    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}